<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>channel</key>
        <string>CSDN</string>
        <key>url</key>
        <string>http://m.csdn.net/</string>
    </dict>
	<dict>
		<key>channel</key>
		<string>抽屉新热榜</string>
		<key>url</key>
		<string>http://m.chouti.com/m/all/hot/recent/1</string>
	</dict>
    <dict>
        <key>channel</key>
        <string>哔哩哔哩</string>
        <key>url</key>
        <string>http://m.bilibili.com/</string>
    </dict>
	<dict>
		<key>channel</key>
		<string>百度新闻</string>
		<key>url</key>
		<string>https://m.baidu.com/</string>
	</dict>
	<dict>
		<key>channel</key>
		<string>网易新闻</string>
		<key>url</key>
		<string>http://3g.163.com/</string>
	</dict>
</array>
</plist>
